{% load static %}

<nav class="indigo lighten-1">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo"><b class="large material-icons">healing</b>   WeFixYallStuff.com</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a>About</a></li>
        <li><a>Become a PRO</a></li>
        <li><a>Give us Money $$$</a></li>
      </ul>
    </div>
  </nav>


<html>
	<head>
		<!--Import Google Icon Font-->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<!--Import materialize.css-->
		<link type="text/css" rel="stylesheet" href="{% static 'materialize/css/materialize.min.css' %}"  media="screen,projection"/>
		<!--Let browser know website is optimized for mobile-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	</head>
	<body>
 {% block content %}

 <p>Replace this</p>

 {% endblock %}
			<!--JavaScript at end of body for optimized loading-->
			<script type="text/javascript" src="{% static 'materialize/js/materialize.min.js' %}"></script>
		</body>
	</html>