{% extends 'base.html' %}

{% block content %}

<title>CS6315 Project</title>
<div class="container">
	<h5>Contractors in Edinburg, TX</h5>
	<ul class="collection" border>
		{% for instance in list %}
			<li class="collection-item avatar">
				<i class="material-icons circle">person</i>
				<span class="title">{{ instance.firstName }} {{instance.lastName}}</span>
				<p>{{instance.skills}}<br>
					{% if instance.availableNow %}
						<a class="waves-effect waves-light btn-small">Hire this dude now!</a>
					{% else %}
						<a class="btn-small disabled">Currently Unavailable</a>
					{% endif %}</p>
					<a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
				</li>
			{% endfor %}
		</ul>
		<p>Total Contractors: {{ list.count }}</p>
	</div>

{% endblock %}

